<app-page-hero title="Contact Us"></app-page-hero>
<section class="contact spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
    <div class="contact__widget">
        <i class="fa fa-phone"></i>
    <h4>Phone</h4>
    <p>+234 70 6654 432</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
    <div class="contact__widget">
    <i class="fa fa-map-marker"></i>
    <h4>Address</h4>
    <p> Wuse behind Total Filling Station</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
    <div class="contact__widget">
    <i class="fa fa-clock-o"></i>
    <h4>Open time</h4>
    <p>10:00 am to 23:00 pm</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 text-center">
    <div class="contact__widget">
        <i class="fa fa-envelope-o"></i>
    <h4>Email</h4>
    <p>hello@toosie.com</p>
    </div>
    </div>
    </div>
    </div>
    </section>
    <div class="contact-form spad">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="contact__form__title">
        <h2>Leave Message</h2>
        </div>
        </div>
        </div>
        <form action="#">
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <input type="text" placeholder="Your name">
        </div>
        <div class="col-lg-6 col-md-6">
        <input type="text" placeholder="Your Email">
        </div>
        <div class="col-lg-12 text-center">
        <textarea placeholder="Your message"></textarea>
        <button type="submit" class="site-btn">SEND MESSAGE</button>
        </div>
        </div>
        </form>
        </div>
        </div>
