<div class="body" data-sidebar="dark">
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">                          
    
                        <a routerLink="index.html" class="logo logo-light">                                
                            <span class=" p-0">
                                <img class="main-logo" src="assets/img/toosie-white.png" alt="" height="40">
                            </span>
                        </a>
                    </div>
    
                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                        <i class="las la-bars"></i>
                    </button>
                   
    
                  
                   
                </div>
    
                <div class="d-flex">
    
                    <div class="dropdown d-inline-block d-lg-none ml-2">
                        <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-search-line"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                            aria-labelledby="page-header-search-dropdown">
                
                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
    
                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="las la-expand"></i>
                        </button>
                    </div>
    
                    
    
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="las la-sign-out-alt"></i>
                        </button>
                    </div>
        
                </div>
            </div>
        </header>
    
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">
    
            <div data-simplebar class="h-100">
    
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Administration</li>
    
                        <li>
                            <a routerLink="/admin/dashboard" class="waves-effect">
                                <i class="las la-layer-group"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-users"></i>
                                <span>Products</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="/admin/products">All Products</a></li>
                                <li><a routerLink="/admin/products/new">Create Product</a></li>                                                               
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-clipboard-list"></i>
                                <span>Category</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="/admin/category"> All Cateogries</a></li>
                                <li><a routerLink="/admin/category/new">Create Category</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-list"></i>
                                <span>Banners</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="/admin/brand">All Banner</a></li>
                                <li><a routerLink="/admin/brand/new">Create Banner</a></li>                
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-pen-square"></i>
                                <span>Blogs</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="show-script.html">All Blogs</a></li>
                                <li><a routerLink="new-script.html"> Create Blog</a></li>                                                                                                        
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-filter"></i>
                                <span>Orders</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="show-filter.html">All Orders</a></li>
                                <li><a routerLink="new-filter.html"> New Order</a></li>                                                                                                        
                            </ul>
                        </li>
    
                      
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-users"></i>
                                <span>Users Groups</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a routerLink="show-user-groups.html">All Users </a></li>
                                <li><a routerLink="new-user-group.html">Admin Users</a></li>
                                <li><a routerLink="new-user-group.html">Normal Users</a></li>
                            </ul>
                        </li>
                          
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="las la-cog"></i>
                                <span>Settings</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a routerLink="call-time.html" class="waves-effect">
                                    <i class="las la-clock"></i>
                                    <span>Call Times</span></a>                                       
                                </li>      
                                <li><a routerLink="shifts.html" class="waves-effect">
                                    <i class="las la-user-clock"></i>
                                    <span>Shifts</span></a>                                       
                                </li>         
                                <li><a routerLink="phones.html" class="waves-effect">
                                    <i class="las la-phone-square-alt"></i>
                                    <span>Phones</span></a>                                       
                                </li>
                                <li><a routerLink="templates.html" class="waves-effect">
                                    <i class="las la-poll-h"></i>
                                    <span>Templates</span></a>                                       
                                </li>                                   
                                <li><a routerLink="carrier.html" class="waves-effect">
                                    <i class="las la-network-wired"></i>
                                    <span>Carriers</span></a>                                       
                                </li>                                   
                                <li><a routerLink="servers.html" class="waves-effect">
                                    <i class="las la-server"></i>
                                    <span>Servers</span></a>                                       
                                </li>                                   
                                <li><a routerLink="conferences.html" class="waves-effect">
                                    <i class="las la-server"></i>
                                    <span>Conferences</span></a>                                       
                                </li>                                   
                                <li><a routerLink="system-setting.html" class="waves-effect">
                                    <i class="las la-cogs"></i> 
                                    <span>System Settings</span></a>                                       
                                </li>                                   
                                <li><a routerLink="screen-labels.html" class="waves-effect">
                                    <i class="las la-desktop"></i>
                                    <span>Screen Labels</span></a>                                       
                                </li>                                   
                                <li><a routerLink="screen-colors.html" class="waves-effect">
                                    <i class="las la-desktop"></i>
                                    <span>Screen Colors</span></a>                                       
                                </li>                                   
                                <li><a routerLink="system-status.html" class="waves-effect">
                                    <i class="las la-list-ul"></i>
                                    <span>System Status</span></a>                                       
                                </li>                                   
                                <li><a routerLink="status-groups.html" class="waves-effect">
                                    <i class="las la-list-ul"></i>
                                    <span>Status Groups</span></a>                                       
                                </li>                                   
                                <li><a routerLink="cid-groups.html" class="waves-effect">
                                    <i class="las la-tty"></i>
                                    <span>CID Groups</span></a>                                       
                                </li>                          
                                <li><a routerLink="voicemail.html" class="waves-effect">
                                    <i class="las la-voicemail"></i>
                                    <span>Voicemail</span></a>                                       
                                </li>                                   
                                <li><a routerLink="audio-store.html" class="waves-effect">
                                    <i class="las la-file-audio"></i>
                                    <span>Audio Store</span></a>                                       
                                </li>                                   
                                <li><a routerLink="music-on-holds.html" class="waves-effect">
                                    <i class="las la-music"></i>
                                    <span>Music On Hold</span></a>                                       
                                </li>                                   
                                <li><a routerLink="vm-message-group.html" class="waves-effect">
                                    <i class="las la-envelope-open-text"></i>
                                    <span>VM Message Groups</span></a>                                       
                                </li>                                   
                                <li><a routerLink="settings-container.html" class="waves-effect">
                                    <i class="las la-cog"></i>
                                    <span>Settings Container</span></a>                                       
                                </li>                                   
                                
                            </ul>
                        </li>
                        
    
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
    
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
    
            <div class="page-content">
                <div class="container-fluid">
    
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">Dashboard</h4>
    
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Report</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
    
                    <router-outlet></router-outlet>
                    
                    <!-- end row -->
    
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
    
            <!-- <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> ©toosie.
                        </div>
                    </div>
                </div>
            </footer> -->
        </div>
        <!-- end main content-->
    
    </div>
</div>

