
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>{{title}}</h2>
                </div>
            </div>
            <div *ngIf="!showIcons" class="categories__slider owl-carousel owl-loaded owl-drag">
               <div *ngIf="(slideStore | async)">
                   <owl-carousel-o [options]="customOptions" >
   
                       <ng-container *ngFor="let slide of slideStore | async">
                         <ng-template  carouselSlide [id]="slide.path">
                          <div class="categories__item set-bg" >
                           <img [src]="slide.resourceImages[0]" alt="">
                              <h5><a href="#">{{slide.title | slice:0:15}}</a></h5>
                          </div>
                           <!-- <img [src]="slide.img" [alt]="slide.title" [title]="slide.title"> -->
                         </ng-template>
                       </ng-container>
                   
                     </owl-carousel-o>

               </div>
               <div *ngIf="!(slideStore | async)">
                   <owl-carousel-o [options]="customOptions" >
   
                       <ng-container *ngFor="let slide of fakeStore">
                         <ng-template  carouselSlide [id]="slide.toString()">
                          <div class="categories__item set-bg" style="margin-right: 10px;" >
                            <ngx-skeleton-loader count="1"
                                [theme]="{ 
                                    'height.px': 100
                                   
                                  }"
                                animation="pulse" appearance="line"></ngx-skeleton-loader>
                            <h5>
                                <ngx-skeleton-loader count="2"
                                animation="pulse" appearance="line"></ngx-skeleton-loader>
                            </h5>
                          </div>
                           <!-- <img [src]="slide.img" [alt]="slide.title" [title]="slide.title"> -->
                         </ng-template>
                       </ng-container>
                   
                     </owl-carousel-o>

               </div>
               
            </div>
            <div *ngIf="showIcons" class="categories__slider owl-carousel owl-loaded owl-drag">
                <div *ngIf="(slideStore | async)">
                    <owl-carousel-o [options]="customOptions">
    
                        <ng-container *ngFor="let slide of slideStore | async">
                          <ng-template  carouselSlide [id]="slide._id">
                            <div class="featured__item mr-3" >
                                <div style="" class="featured__item__pic set-bg"
                                >
                                <img [src]="slide.resourceImages[0]" alt="">
                                    <ul class="featured__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="featured__item__text">
                                    <h6><a href="#">{{slide.title}}</a></h6>
                                    <h5>₦ {{slide.actualPrice}}</h5>
                                </div>
                            </div>
                            <!-- <img [src]="slide.img" [alt]="slide.title" [title]="slide.title"> -->
                          </ng-template>
                        </ng-container>
                    
                      </owl-carousel-o>

                </div>
                  <div *ngIf="!(slideStore | async)">
                    <owl-carousel-o [options]="customOptions" >
    
                        <ng-container *ngFor="let slide of fakeStore">
                          <ng-template  carouselSlide [id]="slide.toString()">
                           <div class="categories__item set-bg" style="margin-right: 10px;" >
                             <ngx-skeleton-loader count="1"
                                 [theme]="{ 
                                     'height.px': 100
                                    
                                   }"
                                 animation="pulse" appearance="line"></ngx-skeleton-loader>
                             <h5>
                                 <ngx-skeleton-loader count="2"
                                 animation="pulse" appearance="line"></ngx-skeleton-loader>
                             </h5>
                           </div>
                            <!-- <img [src]="slide.img" [alt]="slide.title" [title]="slide.title"> -->
                          </ng-template>
                        </ng-container>
                    
                      </owl-carousel-o>
 
                </div>
            </div>
        </div>
    </div>
</section>
